@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #093545;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

.nav a {
  color: #fff;
  padding: 20px 10px;
  display: flex;
}

ul a {
  text-decoration: none;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.movie-state-wrapper,
.movie-container,
.signin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-state-wrapper .content {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  border: none;
}

.signin-form-container {
  width: 300px;
  margin: auto;
}

.signin .signin-form-container.form {
  margin-left: auto;
  margin-top: 220px;
  margin-bottom: 109px;
}

.signin-form-container h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}

input {
  height: 45px;
  border-radius: 10px;
  background: var(--input-color, #224957);
  width: 100%;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
  font-size: 14px;
  color: #fff;
}

.signin-form-container input[type="checkbox"] {
  display: none;
}

.signin-form-container label#remember_me {
  font-size: 14px;
  color: #fff;
}

.signin-form-container label#remember_me::before {
  content: "";
  width: 18px;
  height: 17px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin-right: 8px;
  background: var(--input-color, #224957);
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #fff;
  font-size: 14px;
}

.button {
  padding: 16px;
  border-radius: 10px;
  margin-top: 24px;
  border: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background: var(--primary, #2BD17E);
}

.movie-container h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 600;
}

.add-movie-btn {
  padding-left: 28px;
  padding-right: 28px;
}

.movie-container .container {
  padding-top: 120px;
  padding-bottom: 90px;
}

.movie-container h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 120px;
}

.img-drop-zon {
  width: 473px;
  height: 504px;
  border-radius: 10px;
  border: 2px dashed #FFF;
  background: #224957;
}

.form {
  width: 362px;
  margin-left: 127px;
}

.publish-year input {
  width: 216px;
}

.gtn-group {
  gap: 16px;
}

.gtn-group button {
  font-size: 16px;
  border: 1px solid transparent;
}

.gtn-group button:first-child {
  background: transparent;
  border-color: #fff;
}

.file-uploader-container {
  height: 100%;
  color: #fff;
  font-size: 14px;
}

.files-container {
  bottom: 20px;
  left: 20px;
  list-style: none;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card .card-body {
  padding: 8px 8px 16px 8px;
  border-radius: 12px;
  background: #092C39;
  backdrop-filter: blur(100px);
  color: #fff;
  width: 100%;
}

.card img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.card .movie-date {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

.movie-list-container {
  padding-top: 120px;
}

.movie-list-container h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 600;
  margin-right: 8px;
}

.svg-plus {
  margin-top: 10px;
}

.movie-list-container .logout {
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  margin-right: 8px;
}

.movie-content {
  margin-top: 120px;
}

.pagination {
  margin-bottom: 100px;
  margin-top: 120px;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.next {
  margin-left: 5px;
}

.prv {
  margin-right: 5px;
}

.pagination .btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #092C39;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
}

.btn.active-btn {
  background: #2BD17E;
}

.movie-content {
  row-gap: 25px;
}

.card {
  flex: 0 0 100%;
  max-width: 1005%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.toggle-icon {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

@media(max-width:992px) {
  .movie-container .form {
    margin-left: 30px;
  }
}

@media(max-width:767px) {
  .toggle-icon {
    display: block;
  }

  .container.nav ul {
    flex-direction: column;
    margin-top: 50px;
  }

  .hidden {
    display: none;

  }

  .signin-form-container {
    max-width: 100%;
    width: 100%;
  }

  .sm-direction-col {
    flex-direction: column-reverse;
  }

  .img-drop-zon {
    width: 100%;
    margin-top: 50px;
    height: 300px;
  }

  .movie-container .form {
    margin-left: 0px;
    width: 100%;
  }

  .movie-container h1 {
    margin-bottom: 50px;
  }

  .movie-container h1,
  .movie-list-container h1 {
    font-size: 30px;
  }

  .movie-container .container,
  .movie-list-container {
    padding-top: 50px;
  }

  .movie-content {
    margin-top: 50px;
  }

  .pagination {
    margin: 50px 0;
  }

  .nav a {
    padding: 10px 5px;
    font-size: 13px;
  }

  .movie-container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .card {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}